/*
    RezoIUT Theme for Joomla!
    Author:     Hector Trujillo Ruiz
    Version: 1.0
*/
/*Import des fichiers*/
/*Base*/
@import "base/_normalize.scss";
@import "base/_variables.scss";
@import "base/_base.scss";
@import "base/_mixins.scss";

/*Layouts*/
@import "layouts/_nav.scss";
@import "layouts/_header.scss";
@import "layouts/_contact-form.scss";
@import "layouts/_footer.scss";
@import "layouts/_searchbar.scss";
@import "layouts/_content.scss";
@import "layouts/_logo.scss";
@import "layouts/_search-avance.scss";
@import "layouts/_options_user.scss";
@import "layouts/_last_articles.scss";
@import "layouts/_aside.scss";
@import "layouts/_profil_user.scss";

/*Modules*/
@import "modules/_blocks.scss";
@import "modules/_buttons.scss";
@import "modules/_components.scss";
@import "modules/_sections.scss";
@import "modules/_typography.scss";
@import "modules/_input.scss";
@import "modules/_list.scss";
@import "modules/_images.scss";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";
.header{
    padding: $padding;
}
.content,.footer{
    background-color: $background-content;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: $padding;
}