/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2015, 18:30:30
    Author     : hector
*/

$radious: 1em;
$padding: 1em;

/*Header and menu variables*/
$logo-color-rose:#e9666c;
$logo-color-gris:#3c4154;
$menu-li-width: 6em;
$padding-header-menu:3em;
$li-number-menu: 5;
$width-li-menu: 100% / $li-number-menu;
$background-content:rgba(255,255,255,.6);
$background-aside: #fff;