/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2015, 16:32:56
    Author     : hector
*/
.aside{
    &>div{
        margin-bottom: 1em;
        border-radius: 1em;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
        filter: alpha(opacity=96);
        -moz-opacity: 0.96;
        -khtml-opacity: 0.96;
        opacity: 0.96;
        border: 1px $logo-color-rose solid;
       
    }
}