#contact-form, .form-validate{
    fieldset{
        width:100%;
        legend{ 
            width: 50%;
            margin:auto;
        }
        div{
            text-align: left;
            width: 50%;
            margin:auto auto 1em auto;
            *{
                text-align: center;
                width: 100%;

            }
            &:nth-child(6){
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 601px)
{
    #contact-form, .form-validate{
        fieldset{
            legend{ 
                width: 75%;

            }
            div{
                text-align: center;
                width: 75%;
                button{
                    width: 75%;
                }
            }
        }
    }

}
@media screen and (max-width: 600px)
{
    #contact-form,.form-validate{
        fieldset{
            legend{ 
                width: 100%;
            }
            div{
                text-align: center;
                width: 100%;
            }
        }
    }
}