/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2015, 22:39:49
    Author     : hector
*/
.content{
    &>div{
        display: block;
        float: left;
    }
    margin-top: 1em;
}
@media screen and (max-width: 991px) and (min-width: 601px)
{
    .content{
        div{
            .blog-featured{
                .page-header{

                }
            }
        }
    }
}
@media screen and (max-width: 600px)
{
    .page-header{
        text-align:  center;
        h2{
            width: auto;
        }
    }

}