.userdata>ul{
    display: none;
}
.controls{
    div{
        border: 0;
    }
}
.form-login-header{
    float: right;
}
#form-login-header{
    padding: 0  0 0 4em;
    float: right;
}
#form-login-username, #form-login-password{
    margin-left: 3%;
}
#form-login-username, #form-login-password{
    width: 34%;
    float:left;
    color: $logo-color-rose;
    padding-top: .5em;
    div{
        div{
            span{
                display: none;
            }
            *{
                width: 100%;
            }

        }
    }

}
#form-login-submit{
    float:right;
    width: 26%;
    color: $logo-color-rose;
    padding-top: .5em;
    div{
        button{
            float: right;
            margin-right: 2px;
        }
    }
}
#form-login-remember,#show-login, .show-login-label,.show-menu-label{
    display: none;
}
.show-login-label,.show-menu-label{
    color: $logo-color-rose;
    padding:  $padding;
    float: right;
    text-decoration-style:  none;
    border-radius: 1em;
    background-color: #fff;
    border: 1px solid $logo-color-rose;
    cursor: pointer;
}
/* header css adaptative*/
@media screen and (max-width: 991px) and (min-width: 601px)
{
    .show-login-label{
        display: block;
    }
    #form-login-header{
        display: none;
        width: auto;
        background-color: #fff;
        border-radius: $radious;
        border: solid 2px #e9666c;
        position:fixed;
        top: 70px;
        right: 5em;
        padding-left: 0;
        padding-bottom: 1em;
        float:right;
        z-index: 1000;
        width: 25em;
        .form-login-header{
float: none;
        }
        #form-login-username, #form-login-password,#form-login-submit{
            width: 100%;
            margin:0;
            div{
                div{
                    *{
                        width: 50%;
                    }
                }
            }
        }

    }
    .userdata>ul{
        li{
            width: 100%;
        }
    }

}
@media screen and (max-width: 600px)
{
    .show-login-label,.show-menu-label{
        display: block;
        margin-top: 1em;
        font-size: 15px;
    }
    .header-menu{
        text-align:center;
        *{
            width: 100%;

        }
    }
    #form-login-header{
        padding: 2%;
        position: initial;
        display: none;
        top: 0;
    }
    #form-login-username, #form-login-password,#form-login-submit{
        width: 100%;    
        margin-left:0;
        float:left;
        div{
            div{
                *{
                    text-align: center;
                    padding: 1em 0;
                    width: 100%;
                }
            }
        }
    }

    .userdata>ul{
        li{
            height: 2em;
            width: 100%;
        }
    }
}