/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2015, 13:55:45
    Author     : hector
*/
.last-articles{
    ul{
        li{
            padding-top: 1em;
            border-bottom: solid 1px $logo-color-rose;
        }
    }
}
@media screen and (max-width: 992px){
    .last-articles{
        border-top: solid 1px $logo-color-rose;
        font-size:1.5em;  
        ul{
            text-align: center;
            padding-right: 0;
        }
        h3{
            text-align: center;
        }
    }
}