.logo{
    max-width: 5em;
    a{
        max-width: 100%;
        img{
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 601px)
{

}

@media screen and (max-width: 600px)
{
    .logo{
        margin: 0 auto;     
    }
}