/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2015, 18:32:16
    Author     : hector
*/
.header-search{
    ul{
        li{
            /*width: auto;*/
            display: block;
            float: left;
            padding: 0;
            text-align: center;
            a{
                font-size: 1.3em;
                color: $logo-color-rose;
                &:hover{
                    background-color: $logo-color-rose;
                    color: #fff;
                    border-radius: .5em;
                }
            }
            &[class*=current]{
                border-bottom: 3px solid $logo-color-rose;
                &:hover{
                    border-bottom: 3px solid #fff;
                }
            }
        }
    }
}
@media screen and (max-width: 600px)
{
    .header-search{
        display:none;
        ul{
            width:100;
            li{
                border: solid 1px #e9666c;
                border-radius: 1em;
                margin-top: 1em;
                width: 100%;
            }
        }
    }
}
