/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2015, 13:55:22
    Author     : hector
*/

.options-user{
    ul{
        margin-bottom:1em;
        li{
            border-bottom: solid 1px $logo-color-rose;
        }
    }
}

@media screen and (max-width: 992px){
    .options-user{
        border-top: solid 1px $logo-color-rose;
        font-size:1.5em;  
        ul{
            text-align: center;
            padding-right: 0;
        }
        h3{
            text-align: center;
        }
    }
}