/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2015, 17:56:42
    Author     : hector
*/

#member-profile{
    fieldset{
        .control-group{
            .control-label{
                text-align: left;
            }
        }
    }
}
@media screen and (max-width: 991px) and (min-width: 601px)
{
    #member-profile{
        fieldset{
            text-align: center;
            .control-group{
                .control-label{
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width: 600px)
{
    #member-profile{
        fieldset{
            text-align: center;
            .control-group{
                .control-label{
                    text-align: center;
                }
                .controls{
                    *{
                        width: 100%;
                        height: 3em;
                    }
                }
            }
        }
    }
}