/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2015, 23:04:53
    Author     : hector
*/
.search{
    .page-title{

    }
    #searchForm{
        .btn-toolbar{

        }
        .searchintro{

        }
        .phrases,fieldset:last-child {
            width: 45%;
            float: left;
            padding-left: 2em;
            display: block;
        }
        legend{
            font-size: 1.3em;
        }
    }
}
@media screen and (max-width: 991px) and (min-width: 601px)
{
    .search{
        .page-title{

        }
        #searchForm{
            .btn-toolbar{
                width: 100%;
                div{
                    width: 49%;
                    *{
                        margin-top: 1em;
                        width: 100%;
                    }

                }
            }
            .searchintro{

            }
            .phrases,fieldset:last-child {
                width: 50%;
                float: left;
                display: block;
            }
        }
    }
}
@media screen and (max-width: 600px)
{
    .search{
        .page-title{
            text-align: center;
        }
        #searchForm{
            .btn-toolbar{
                width: 100%;
                div{
                    width: 100%;
                    *{
                        margin-top: 1em;
                        width: 100%;
                    }

                }
            }
            .searchintro{

            }
            .phrases,fieldset {
                width: 100%;
                float: left;
                display: block;
            }
        }
    }

}