/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2015, 20:29:46
    Author     : hector
*/

#search-bar{
    text-align: center;
    div{
        div{
            form{
                label,input,button{
                    width: 30%;
                    margin-right: 2%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                }
            }
        }
    }
}
@media screen and (max-width: 991px) and (min-width: 601px)
{
    #search-bar{
        div{
            div{
                form{
                    label,input,button{

                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px)
{
    #search-bar{
        text-align: center;
        div{
            div{
                form{
                    label,input,button{
                        width:100%;
                        padding: 1em 1em;    
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}