/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2015, 18:34:58
    Author     : hector
*/

.hr-menu{ 
    border: 0; 
    height: 2px; 
    background: #e9666c; 
    background-image: -webkit-linear-gradient(left, #fff, #e9666c, #fff); 
    background-image: -moz-linear-gradient(left, #fff, #e9666c, #fff); 
    background-image: -ms-linear-gradient(left, #fff, #e9666c, #fff); 
    background-image: -o-linear-gradient(left, #fff, #e9666c, #fff); 
}