/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2015, 17:52:17
    Author     : hector
*/

#image{
    img{
        max-width: 100%;
    }
}