/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2015, 20:38:01
    Author     : hector
*/
/*************  input text password ***************************/
input[type=text], input[type=password], input[type=tel], input[type=url],input[type=search], input[type=email],textarea{
    padding: 5px 0;
    border: solid 1px $logo-color-rose;
    -webkit-box-shadow: 1px 0px 6px 0px rgba(233, 102, 108, 0.82);
    -moz-box-shadow:    1px 0px 6px 0px rgba(233, 102, 108, 0.82);
    box-shadow:         1px 0px 6px 0px rgba(233, 102, 108, 0.82);
    padding-left:1em;
}

@media screen and (max-width: 600px)
{
    #search-bar{
        div{
            form{
                div{
                    label,input[type=text]{
                        padding: 1em 1em;
                        width:100%;
                    }
                }
            }
        }
    }
}

/************************ radio button ****************************************/


.radio{
    padding-bottom: 1em;

    input[type=radio]{
        height: 15px;
        width: 15px;
        /*display: none;*/
        color: #f3f3f3;  
        font-size: 30px;
        text-align: center;  
        line-height: 18px;  
        border: solid 1px $logo-color-rose;
        border-radius: 10em;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        &:checked{
            background-color: $logo-color-rose;

        }
    }
} 
input[type=checkbox]{
    height: 15px;
    width: 15px;
    margin-left: 1px;
    font-size: 30px;
    text-align: center;  
    line-height: 18px;  
    border: solid 2px $logo-color-rose;
    &:checked{
        background-color: $logo-color-rose;
    }
}

